#foot{
    width: 100%;
    background: #ffffff;
    margin-top: 32px;
}
#foot1{
    margin: 0 auto;
    width: 100%;
    min-width: 972px;
    background: white;
    padding: 24px 34px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#foot2{
    text-align: center;
    -webkit-box-pack: center;
    margin: 0 0 0 30px;
    padding: 0px;
    color: #999aaa;
    line-height: 45px;
}
#foot2 li{
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: inline;
}
#foot2 li a{
    line-height: 16px;
    width: 56px;
    margin: 0 8px;
    font-size: 14px;
    padding: 7px 10px;
    color: #999aaa;
}
#foot3{
    text-align: center;
    margin: 0 0 0 0px;
    padding: 0px;
    font-size: 12px;
    color: #999aaa;
    line-height: 45px;
}
#foot3 li{
    list-style-type: none;
    display: inline;
}
#foot3 li a{
    margin: 0 10px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    padding: 7px 7px;
    color: #999aaa;
}