*{
    border: red solid 1px;
    margin: 0px;
    padding: 0px;

}
html{
    position:relative;
}
/*导航栏*/
.spn{
    text-align: center;
    height: 35px;
}
.content{
    width: 1520px;
    height: 600px;

}
/*控制头像区鼠标事件*/
#spnTou ul li{
    display: none;
}
/*页脚*/
.foot{
    height: 117px;
    width: 1520px;
}
/*中间部分*/
.login{
    width: 790px;
    height: 500px;
    margin: 50px auto;
}